<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>validateAdmin</servlet-name>
        <servlet-class>validateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreParticipantDetails</servlet-name>
        <servlet-class>StoreParticipantDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateParticipant</servlet-name>
        <servlet-class>validateParticipant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvent</servlet-name>
        <servlet-class>CreateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent</servlet-name>
        <servlet-class>ViewEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerEvent</servlet-name>
        <servlet-class>registerEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validateAdmin</servlet-name>
        <url-pattern>/validateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreParticipantDetails</servlet-name>
        <url-pattern>/StoreParticipantDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateParticipant</servlet-name>
        <url-pattern>/validateParticipant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvent</servlet-name>
        <url-pattern>/CreateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent</servlet-name>
        <url-pattern>/ViewEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerEvent</servlet-name>
        <url-pattern>/registerEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
